<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
  </configSections>
  <!--Enyim.Caching配置（省略了Log4Net框架）   For Memcached-->
  <memcached>
    <servers>
      <add address="127.0.0.1" port="11211"/>
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:05:00"/>
  </memcached>
  <!--The Enyim.Caching配置 End -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="PassportRootUrl" value="https://passport.kecq.com"/>
    <!--是否启用压缩html-->
    <add key="isCompress" value="false"/>
    <!-- 静态页刷新时间(秒) 如果为0则不缓存  现在用Memcache替换了 暂时没用到-->
    <add key="staticHtmlRefreshTimeout" value="0"/>
    <!--是否延迟加载图片-->
    <add key="isLazyloadPic" value="true"/>
    <!--路由缓存时间(秒) 如果为0则不缓存-->
    <add key="routeCacheTimeout" value="0"/>
    <!--是否使用memcache 可以在url后加r参数强制刷新 -->
    <add key="isUseMemcache" value="false"/>
    <!--memcache缓存时间(秒) 如果isUseMemcache设置为false则该项无效-->
    <add key="memcacheTimeout" value="300"/>
    <!--是否强制认为是Remote模式 (用于调试)-->
    <add key="isRemote" value="false"/>
    <!--如果匹配不上blog是否使用数据库第一个blog-->
    <add key="isUseFirstBlogWhenNotMatch" value="true"/>
    <!--统计模式  none,js,current  分别代表不统计、使用远程js代码统计、当前程序统计,如果为空则不统计-->
    <add key="VisitMode" value="js"/>
    <!-- 是否统计本地访问(便于调试)-->
    <add key="isTongjiLocal" value="false"/>
    <add key="albumVersion" value="V1"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151000" executionTimeout="30000000" requestValidationType="FYJ.Web.CustomRequestValidator,FYJ.Web"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
    </staticContent>-->
  </system.webServer>

</configuration>